.destination {
  background: url('./../../../public/assets/destination/background-destination-desktop.jpg')
    no-repeat center;
  background-attachment: fixed;
  background-size: 100%;

  @media (max-width: 768px) {
    background-image: url(./../../../public/assets/destination/background-destination-tablet.jpg);
  }
  @media (max-width: 576px) {
    background-image: url(./../../../public/assets/destination//background-destination-mobile.jpg);
  }
}

.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 97px;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  @media (max-width: 576px) {
    margin-top: 32px;
  }

  img {
    width: 445px;
    height: 445px;
    @media (max-width: 1111px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 576px) {
      width: 170px;
      height: 170px;
    }
  }
}

.menuPlanets {
  max-width: 445px;
  height: 100%;
  @media (max-width: 768px) {
    margin-top: 53px;
  }
  @media (max-width: 576px) {
    margin-top: 26px;
  }
  h1 {
    font-family: 'Bellefair';
    font-size: 100px;
    line-height: 115px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 14px;
    @media (max-width: 1111px) {
      font-size: 80px;
      line-height: 92px;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 8px;
    }

    @media (max-width: 576px) {
      font-size: 56px;
      line-height: 64px;
      margin-top: 53px;
      margin-bottom: 1px;
    }
  }
  p {
    font-family: 'Barlow';
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 54px;
    @media (max-width: 1111px) {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 49px;
      max-width: 350px;
    }
    @media (max-width: 576px) {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 32px;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #383b4b;
  margin-bottom: 28px;
}

.menuPlanets ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  @media (max-width: 1111px) {
    justify-content: center;
  }
  @media (max-width: 576px) {
    gap: 26px;
  }
  li button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #ffffff;
    position: relative;
    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 2.3625px;
    }
  }
}

.footerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 32px;
  }
}

.blockTitle {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  @media (max-width: 1111px) {
    text-align: center;
  }
}
.blockNumber {
  font-family: 'Bellefair';
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
  @media (max-width: 1111px) {
    text-align: center;
  }
}

.buttonActive {
  &:after {
    content: '';
    position: absolute;
    width: 97%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    top: 30px;
  }
}

.footer {
  height: 62px;
  width: 100%;
}
